<%= form_with model: @reservation do |form| %>
    <% @reservation.errors.full_messages.each do |error| %>
        <div>
          <%= error %>
        </div>
    <% end %>
    <div>
      <%= form.label :room_id %>
      <%= form.collection_select :room_id, Room.all.order(room_name: :asc), :id, :room_name %>
    </div>

    <div>
      <%= form.label :entry_date %>
      <%= form.date_select :entry_date %>
    </div>

    <div>
      <%= form.label :departure_date %>
      <%= form.date_select :departure_date %>
    </div>

    <div>
      <%= form.label :customer_name %>
      <%= form.text_field :customer_name %>
    </div>

    <div>
      <%= form.label :customer_email %>
      <%= form.text_field :customer_email %>
    </div>
    <%= form.submit %>
<% end %>