<tr>
  <td><%= reservation.room.room_name %></td>
  <td><%= reservation.entry_date.to_date %></td>
  <td><%= reservation.departure_date.to_date %></td>
  <td><%= reservation.customer_name %></td>
  <td><%= Room.format_number(reservation.room.price.to_f * (reservation.departure_date.to_date.mjd - reservation.entry_date.to_date.mjd), reservation.room.currency) %></td>
  <td><%= link_to t('.show'), reservation_path(reservation.id), class: 'reservation' %></td>
</tr>

