<h2><%= t('.title') %></h2>

<p class="room_name"><%= @reservation.room.room_name %></p>
<p class="price"><%= @reservation.room.price %></p>
<p class="currency"><%= @reservation.room.currency %></p>
<p class="entry_date"><%= @reservation.entry_date.to_date %></p>
<p class="departure_date"><%= @reservation.departure_date.to_date %></p>
<p class="customer_name"><%= @reservation.customer_name %></p>
<p class="customer_email"><%= @reservation.customer_email %></p>

<%= link_to t('.edit'), edit_reservation_path(@reservation) if @reservation.owner? || @reservation.admin? %>
<%= link_to t('.delete'), reservation_path(@reservation), data:{
    turbo_method: :delete,
    turbo_confirm: t('reservations.msgs.confirm')
}  if @reservation.owner? || @reservation.admin? %>