<%= form_with(model: room) do |form| %>
    <% @room.errors.full_messages.each do |error| %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= error %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    <% end %>

  <div class="mb-3">
    <%= form.label :room_name, class: 'form-label' %>
    <%= form.text_field :room_name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: 'form-label' %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :price, class: 'form-label' %>
    <%= form.number_field :price, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :currency, class: 'form-label' %>
    <select name="room[currency]" class="form-select">
      <% Room::CURRENCIES.keys.each do |currency| %>
          <% if @room.currency == currency %>
              <option value="<%= currency %>" selected><%= t(".#{currency}") %></option>
          <% else %>
              <option value="<%= currency %>"><%= t(".#{currency}") %></option>
          <% end %>
      <% end %>
    </select>
  </div>

  <div>
    <%= form.submit @room.persisted? ? t('.update_room') : t('.create_room'), class: 'btn btn-primary' %>
  </div>
<% end %>
